# Dependencies
node_modules/

# Production builds
dist/
dist-ssr/
build/

# Environment & Secrets
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cloud & Deployment
.vercel/

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
